[project]
name = "eunomia-langchain"
version = "0.3.7"
description = "Eunomia extension for LangChain"
authors = [
    { name="What About You team", email="info@whataboutyou.ai" }
]
license = "Apache-2.0"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "eunomia-sdk>=0.3.7",
    "langchain>=0.3.20",
    "langchain-core>=0.3.41",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/eunomia_langchain"]

[tool.uv.sources]
eunomia-sdk = { workspace = true }
