[project]
name = "eunomia-sdk"
version = "0.3.7"
description = "Eunomia SDK for Python"
authors = [
    { name="What About You team", email="info@whataboutyou.ai" }
]
license = "Apache-2.0"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "eunomia-core>=0.3.7",
    "httpx>=0.28.1",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/eunomia_sdk"]

[tool.uv.sources]
eunomia-core = { workspace = true }
