.md-typeset a {
  color: #ca8a04;
}

.md-typeset a:hover {
  color: #facc15;
}

.md-nav__link--active {
  color: #ca8a04 !important;
}

.md-nav__link:hover {
  color: #facc15 !important;
}

.md-button {
  color: black !important;
  border-color: black !important;
  transition: background-color 0.3s ease-in-out;
  border-radius: 6px !important;
  padding: 0.4rem 0.8rem !important;
}
.md-button--primary {
  background-color: black !important;
  color: white !important;
}
.md-button:hover {
  background-color: #facc15 !important;
  color: black !important;
}
